<!DOCTYPE html>
<html>
<head>
  <title>Football Fever</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<h1 style="margin-left: 50px;">Update Team Score</h1>
	<br><br><br><br>
	<div style="width: 500px; margin-left: 50px;">

  <form action="/polls/update_u/{{ blog_id }}" method="post">
    {% csrf_token %}

<span>score A :</span>
    {{form.scoreAform}}
    <br><br>

    <span>score B :</span>
    {{form.scoreBform}}
    <br><br>



  <button class="btn btn-primary  text-right" type="submit" id="up">Update details</button>
</form>
</div>

</body>
</html>